@import url('https://fonts.googleapis.com/css2?family=Merriweather');

/* base styles */
* {
  margin: 0;
  font-family: "Merriweather";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid rgba(34, 31, 71, 0.518);
}
.navbar h1 {
  color: #28245e;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #28245e;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}